<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof title !='undefined' ? title:'Wongnok Recipe' %>
    </title>
    <link rel="icon" type="image/x-icon" href="https://wongnok.s3.ap-east-1.amazonaws.com/public/img/dinner.png">
    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://wongnok.s3.ap-east-1.amazonaws.com/public/css/styles.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan&family=Mali&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        /* Custom Styles */
        .navbar-brand img {
            max-width: 100%;
            height: auto;
        }

        /* Set a base font size for better responsiveness */
        html {
            font-size: 16px;
            /* Adjust as needed */
        }

        /* Use vw units for font sizes for responsiveness */
        body {
            font-size: 1rem;
            /* 1rem equals the base font size (16px) */
        }

        /* Adjust font sizes for different screen sizes */
        @media (max-width: 768px) {
            body {
                font-size: 0.9rem;
                /* Adjust as needed */
            }
        }

        @media (max-width: 576px) {
            body {
                font-size: 0.8rem;
                /* Adjust as needed */
            }
        }

        .container {
            margin-left: 0;
            margin-right: 0;
        }

        .nav-link {
            font-size: 1.2rem;
        }

        .loading-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* Semi-transparent black overlay */
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            /* Light semi-transparent border */
            border-top: 4px solid #ffffff;
            /* White top border */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
            /* Spin animation */
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .dark-mode input[type="range"] {
            background-color: transparent;
        }

        .grid-container {
            display: grid;
            gap: 50px;
        }

        .filter-section {
            /* Styles for the filter section */
            grid-column: 1;
            /* Expand the filter section to span across both columns */
        }

        .grid-container {
            overflow-x: hidden;
        }

        @media (max-width: 991.98px) {
            .filter-section {
                order: 1;
            }

            .data-section {
                order: 2;
            }
        }

        #recipeList {
            min-height: 200px;
            /* Set a minimum height for the recipeList container */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://wongnok.s3.ap-east-1.amazonaws.com/public/img/wongbok_rm_bg.png" alt="Cooking Blog"
                    width="229" height="68">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">หน้าหลัก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/allrecipes">สูตรอาหาร</a>
                    </li>
                </ul>
                <!-- Search form (with id="searchForm") -->
                <!-- Search form (with id="searchForm") -->
                <form id="searchForm" action="/search" method="POST" class="d-lg-inline-flex mx-auto">
                    <!-- Show only on screens larger than lg -->
                    <input type="text" placeholder="ค้นหาสูตร..." name="searchTerm" class="form-control me-2"
                        aria-label="Search">
                </form>

                <% if(userName){ %>
                    <div class="btn-group" role="group" aria-label="Dark/Bright Mode Buttons">
                        <button type="button" class="btn circular-btn" id="modeToggleBtn">
                            <i class="bi bi-sun"></i>
                        </button>
                    </div>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <% if(userImageURL){ %>
                                        <!-- User's circular avatar image -->
                                        <img id="userImage" src="https://wongnok.s3.ap-east-1.amazonaws.com/public/uploads/<%= userImageURL %>"
                                            alt="<%= userName %>'s Avatar" class="rounded-circle user-avatar" width="40"
                                            height="40">
                                        <% } else { %>
                                            <!-- Default circular avatar image -->
                                            <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                                                alt="Default Avatar" class="rounded-circle user-avatar" width="40"
                                                height="40">
                                            <% } %>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="/submit-recipe">เพิ่มสูตรอาหาร</a>
                                    <a class="dropdown-item" href="/profile">บัญชี</a>
                                    <a class="dropdown-item" href="/logout">ออกจากระบบ</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <% } else { %>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <div class="btn-group" role="group" aria-label="Dark/Bright Mode Buttons">
                                <button type="button" class="btn circular-btn" id="modeToggleBtn">
                                    <i class="bi bi-sun"></i>
                                </button>
                            </div>
                            <li class="nav-item">
                                <a class="nav-link" href="/submit-recipe">Submit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/signin">Login</a>
                            </li>
                        </ul>
                        <% } %>
            </div>
        </div>
    </nav>

    <div class="container-xxl px-md-5 bg-white shadow-lg" style="min-height: 100vh;">
        <main>
            <%- body -%>
        </main>
        <br /> <br /> <br />
        <footer class="py-1" style="bottom:0; text-align: center; border-top: 1px solid #dad3d3;">
            <p>Wongnok 2024</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://wongnok.s3.ap-east-1.amazonaws.com/public/js/script3.js"></script>
    <!-- <script src="/js/script.js"></script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchForm = document.getElementById('searchForm');
            var navbarToggler = document.querySelector('.navbar-toggler');

            // Function to move search form to the last child of the navbar
            function moveSearchFormToLastChild() {
                document.querySelector('.navbar-collapse').appendChild(searchForm);
                searchForm.classList.add('w-100'); // Set width to 100% when hamburger menu is active
            }

            // Function to restore search form to its original position
            function restoreSearchFormPosition() {
                var containerFluid = document.querySelector('.container-fluid');
                containerFluid.insertBefore(searchForm, navbarToggler);
                searchForm.classList.remove('w-100'); // Remove width 100% when hamburger menu is not active
            }

            // Event listener for toggler click
            navbarToggler.addEventListener('click', function () {
                if (searchForm.parentNode.classList.contains('navbar-collapse')) {
                    // Move search form to the last child of the navbar
                    moveSearchFormToLastChild();
                } else {
                    // Restore search form to its original position
                    restoreSearchFormPosition();
                }
            });
        });
    </script>
</body>

</html>